/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  color: #333;
}

h3, h4 {
  font-size: 1.5rem;
  color: #4c4c4c;
}

h4 {
  font-size: 1.2rem;
  color: #5a5a5a;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

button:hover {
  background-color: #2980b9;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 12px;
  margin: 8px 0 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #3498db;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

#groupSection,
#expenseSection {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#groupSection h3,
#expenseSection h3 {
  text-align: center;
  margin-bottom: 20px;
}

#groupSelectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#groupSelectDropdown {
  width: 100%;
  margin-top: 10px;
}

#groupSelect {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#expenseSection {
  display: none; /* Hidden until a group is selected */
}

.expense-card {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.expense-card h4 {
  margin-top: 0;
}

.expense-card p {
  margin: 5px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .expense-card {
    margin: 10px;
    padding: 10px;
  }

  #groupSection,
  #expenseSection {
    padding: 15px;
  }

  form {
    padding: 10px;
  }
}
